<div class="split-page split-biography">

  <h4 class="section-heading">{{localize "DC20AltSheet.bio.biography"}}</h4>
  {{#if isEditable}}
    <textarea class="bio-editor split-bio-editor" name="system.details.biography.value">{{biography}}</textarea>
  {{else}}
    <div class="bio-view">{{biography}}</div>
  {{/if}}

  <h4 class="section-heading mt">{{localize "DC20AltSheet.bio.campaignNotes"}}</h4>
  {{#if isEditable}}
    <textarea class="campaign-notes-editor" name="flags.{{moduleId}}.campaignNotes"
      placeholder="{{localize "DC20AltSheet.bio.empty"}}">{{campaignNotes}}</textarea>
  {{else}}
    <div class="campaign-notes-view">{{#if campaignNotes}}{{campaignNotes}}{{else}}<span class="empty-note">{{localize "DC20AltSheet.empty.campaignNotes"}}</span>{{/if}}</div>
  {{/if}}

</div>
