<div class="split-page split-conditions">

  <div class="cond-grid-section">
    <div class="page-section-header">
      <h3 class="section-heading">{{localize "DC20AltSheet.cond.heading"}}</h3>
    </div>
    {{#if conditions.length}}
    <div class="cond-grid">
      {{#each conditions}}
      <div class="cond-cell{{#if active}} active{{/if}}" data-status-id="{{id}}"
        title="{{label}}{{#if stackable}} ({{localize "DC20AltSheet.cond.stackable"}}){{/if}}">
        <span class="cond-cell-icon">
          {{#if img}}<span class="cond-cell-img" style="-webkit-mask-image: url('{{img}}'); mask-image: url('{{img}}');" role="img" aria-label="{{label}}"></span>
          {{else}}<i class="fas fa-circle-exclamation"></i>{{/if}}
          {{#if active}}{{#if stackable}}<span class="cond-stack-badge">{{stacks}}</span>{{/if}}{{/if}}
        </span>
        <span class="cond-cell-label">{{label}}</span>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  {{#if passiveEffects.length}}
  <div class="effects-section">
    <h4 class="subsection-heading">{{localize "DC20AltSheet.cond.passive"}}</h4>
    <div class="effects-list">
      {{#each passiveEffects}}
      <div class="effect-row fx-interactive{{#if disabled}} fx-disabled{{/if}}" data-effect-id="{{id}}" title="{{localize "DC20AltSheet.cond.readEdit"}}">
        {{#if icon}}<img class="fx-icon" src="{{icon}}" alt="{{name}}">{{/if}}
        <span class="fx-name">{{name}}</span>
        {{#if @root.isEditable}}
        <button type="button" class="fx-toggle" data-action="toggleEffect" data-effect-id="{{id}}"
          title="{{#if disabled}}{{localize "DC20AltSheet.cond.enableEffect"}}{{else}}{{localize "DC20AltSheet.cond.disableEffect"}}{{/if}}">
          <i class="fas {{#if disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
        </button>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if temporaryEffects.length}}
  <div class="effects-section">
    <h4 class="subsection-heading">{{localize "DC20AltSheet.cond.temporary"}}</h4>
    <div class="effects-list">
      {{#each temporaryEffects}}
      <div class="effect-row fx-interactive{{#if disabled}} fx-disabled{{/if}}" data-effect-id="{{id}}" title="{{localize "DC20AltSheet.cond.readEdit"}}">
        {{#if icon}}<img class="fx-icon" src="{{icon}}" alt="{{name}}">{{/if}}
        <span class="fx-name">{{name}}</span>
        {{#if duration}}<span class="fx-dur muted">{{duration}}</span>{{/if}}
        {{#if @root.isEditable}}
        <button type="button" class="fx-toggle" data-action="toggleEffect" data-effect-id="{{id}}"
          title="{{#if disabled}}{{localize "DC20AltSheet.cond.enableEffect"}}{{else}}{{localize "DC20AltSheet.cond.disableEffect"}}{{/if}}">
          <i class="fas {{#if disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
        </button>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

</div>
