<div class="browser-tabs-container">

  {{!-- Horizontal tab bar --}}
  <div class="browser-tab-bar">
    {{#each openTabs}}
    <div class="browser-tab{{#if active}} active{{/if}}"
         data-page="{{id}}"
         draggable="true">
      <span class="btab-icon btab-icon-{{id}}"></span>
      <span class="btab-label">{{label}}</span>
      <button type="button" class="btab-close" data-close-page="{{id}}" title="Close tab">×</button>
    </div>
    {{/each}}
    <button type="button" class="btab-add" title="Open page">+</button>
  </div>

  {{!-- Page picker overlay (shown when + is clicked) --}}
  <div class="tab-picker hidden">
    <div class="tab-picker-grid">
      {{#each pageDefs}}
      <button type="button" class="picker-item" data-open-page="{{id}}">
        <span class="btab-icon btab-icon-{{id}}"></span>
        <span class="picker-label">{{label}}</span>
      </button>
      {{/each}}
    </div>
  </div>

</div>
